body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    font-weight: 700;
    width: 95%;
    padding: 10px;
    background-color: rgb(3, 134, 3);
    color: white;
    border: none;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input:focus{
    outline: none;
    border: 2px solid black;
}

input::placeholder{
    font-size: 16px;
}

button:hover {
    background-color: rgb(4, 210, 4);
}

h3{
    color: #151515;
}

#result {
    font-size: 22px;
    margin-top: 20px;
    font-weight: bold;
    color: #151515;
}

p{
    font-size: 22px;
    font-weight: 500;
}

.task-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
    justify-content: space-between;
}

.task-item span {
    flex: 1;
    text-align: left;
    font-size: 26px;
}

.task-item button {
    width: auto;
    padding: 6px 12px;
    font-size: 14px;
    margin-top: 0;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.task-item button:first-of-type {
    background-color: #28a745;
}
.task-item button:first-of-type:hover {
    background-color: #1e7e34;
}

.task-item button:last-of-type {
    background-color: #dc3545; 
}
.task-item button:last-of-type:hover {
    background-color: #a71d2a;
}