.carousel-slide-bg {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 1rem;
}

.carousel-slide-bg .container {
  max-width: 700px;
}


.product-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
